<h1>{{title}}</h1>
{{#each users}}
    <article>
        <h1> <a href="/users/{{id}}">{{login}}</a></h1>
        <p> {{location}}</p>
    </article>
{{/each}}


<form action="/users/" method="post">
    <div class="input">
        <p>
            <label for="text">
            <font color="#CDC9C9" face="Lucida Sans Unicode">Text</font></label></p>
        <input type="text" id="login" name="login">
    </div>
    <div class="input">
        <p><label for="url"><font color="#CDC9C9" face="Lucida Sans Unicode">password</font></label></p>
        <input type="text" id="password" name="password">
    </div>
    <div class="input">
        <p><label for="url"><font color="#CDC9C9" face="Lucida Sans Unicode">compare password</font></label></p>
        <input type="text" id="password2" name="password2">
    </div>
    <p><button type="submit">post</button></p>
</form>
